# Telegram Bot tokeni
BOT_TOKEN=bu_yerga_bot_tokenini_yozing

# Groq API kaliti
GROQ_API_KEY=bu_yerga_groq_api_kalitini_yozing

# Bot egasining ismi
EGA_ISMI=Zuxriddin

# Groq modeli
MODEL=qwen/qwen3.8-27b
